@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<NguyenHoangLongMVC.Application.DTOs.NewsArticleDto>

@{

}

<link rel="stylesheet" href="~/css/account-management.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<!-- New Category Modal -->
<div class="modal fade" id="newArticleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content gh-border gh-rounded-md">
            @* <div class="modal-header gh-border-bottom">
                <h5 class="modal-title gh-h5" id="newAccountModalLabel">New Article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> *@
            <div class="modal-body gh-px-4">
                <form>
                    <div class="mb-3">
                        <label for="categoryName" class="form-label gh-fw-semibold gh-mb-1">Category Name</label>
                        <input type="text" class="form-control form-control-sm" id="categoryName">
                    </div>
                    <div class="mb-3">
                        <label for="categoryDescription" class="form-label gh-fw-semibold gh-mb-1">Category Description</label>
                        <textarea type="text" class="form-control form-control-sm" id="categoryDescription"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="parentCategory" class="form-label gh-fw-semibold gh-mb-1">Parent Category</label>
                        <select class="form-select form-select-sm" id="parentCategory">
                            <option value="0">Admin</option>
                            <option value="1">Staff</option>
                            <option value="2">Lecturer</option>
                            <option value="3">User</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="acountStatus" class="form-label gh-fw-semibold gh-mb-1">Status</label>
                        <select class="form-select form-select-sm" id="acountStatus">
                            <option value="0">Active</option>
                            <option value="1">Disable</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer gh-bg-light gh-border-top">
                <button type="button" class="btn btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-sm btn-primary">Create account</button>
            </div>
        </div>
    </div>
</div>

<div class="gh-Layout gh-Layout--flowRow-until-md">


    <!-- Main content -->
    <div class="gh-Layout-main">
        <div class="container-xl gh-p-responsive gh-py-4">
            <!-- Header section -->
            <div class="gh-d-flex gh-flex-column-reverse gh-flex-md-row gh-mb-3 gh-justify-content-between gh-border-bottom gh-pb-3">
                <div>
                    <h1 class="gh-h3 gh-mb-1">History</h1>
                    <p class="gh-color-fg-muted">History of news articles created</p>
                </div>
                <div class="gh-mb-3 gh-mb-md-0">
                    <button type="button" class="gh-btn gh-btn-primary gh-btn-sm" data-bs-toggle="modal" data-bs-target="#newArticleModal">
                        <i class="fas fa-plus gh-me-1"></i> New account
                    </button>
                </div>
            </div>

            <!-- Filter section -->
            <div class="gh-subnav gh-mb-4">
                <nav class="gh-subnav-links" aria-label="Account filter navigation">
                    <a class="gh-subnav-item gh-selected" href="#">All Articles <span class="gh-Counter">@Model.Count()</span></a>
                    <a class="gh-subnav-item" href="#">Active <span class="gh-Counter">@Model.Count(m => m.NewsStatus == true)</span></a>
                    <a class="gh-subnav-item" href="#">Disable <span class="gh-Counter">@Model.Count(m => m.NewsStatus == false)</span></a>
                </nav>
                <div class="gh-subnav-search">
                    <input type="text" class="form-control gh-subnav-search-input" placeholder="Find an account...">
                    <i class="fas fa-search gh-subnav-search-icon"></i>
                </div>
            </div>

            <!-- Account list -->
            <div class="gh-Box">
                <div class="gh-Box-header gh-d-flex gh-flex-items-center">
                    <h2 class="gh-Box-title">Accounts <span class="gh-Counter gh-Counter--primary">@Model.Count()</span></h2>
                </div>
                <ul class="gh-Box-list">
                    @foreach (var item in Model)
                    {
                        <li class="gh-Box-row gh-d-flex gh-flex-items-center">
                            <div class="gh-flex-shrink-0 gh-me-3">
                                <div class="gh-avatar gh-CircleBadge" style="background-color: #111111)">
                                    <span class="text-black">@item.NewsArticleId</span>
                                </div>
                            </div>
                            <div class="gh-flex-auto gh-min-width-0">
                                <div class="gh-d-flex gh-flex-items-center">
                                    <strong class="gh-me-2">@item.NewsTitle</strong>
                                    @{
                                        (string roleClass, string labelClass, string role) = item.NewsStatus switch
                                        {
                                            true => ("gh-Label--success", "gh-bg-accent-emphasis", "Active"),
                                            false => ("gh-Label--warning", "gh-bg-success", "Disable")
                                        };
                                    }
                                    <span class="gh-Label @roleClass">@role</span>
                                </div>
                                <div class="gh-color-fg-muted gh-text-small">
                                    @item.CreatedBy.AccountName
                                </div>
                            </div>
                            <div class="gh-BtnGroup gh-d-flex">
                                @* <button type="button" class="gh-btn gh-btn-sm gh-BtnGroup-item" aria-label="Edit this account">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="gh-btn gh-btn-sm gh-BtnGroup-item" aria-label="View this account">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <details class="gh-btn gh-btn-sm gh-dropdown gh-details-reset gh-details-overlay gh-d-inline-block gh-BtnGroup-item">
                                    <summary class="" aria-haspopup="true">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </summary>
                                    <div class="gh-dropdown-menu gh-dropdown-menu-sw">
                                        <button type="button" class="gh-dropdown-item gh-text-danger">
                                            <i class="fas fa-trash gh-me-2"></i> Delete
                                        </button>
                                        <button type="button" class="gh-dropdown-item">
                                            <i class="fas fa-key gh-me-2"></i> Reset password
                                        </button>
                                    </div>
                                </details> *@
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <!-- Pagination -->
            <div class="gh-paginate-container gh-my-3 gh-d-flex gh-flex-justify-center">
                <div class="gh-pagination">
                    <span class="gh-previous_page gh-disabled">Previous</span>
                    <em class="gh-current" aria-current="page">1</em>
                    <a href="#" rel="next" class="gh-page-link">2</a>
                    <a href="#" class="gh-page-link">3</a>
                    <span class="gh-gap">…</span>
                    <a href="#" class="gh-page-link">5</a>
                    <a href="#" rel="next" class="gh-next_page">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Function to generate random color based on name
    function GetRandomColor(name) {
        let hash = 0;
        for (let i = 0; i < name.length; i++) {
            hash = name.charCodeAt(i) + ((hash << 5) - hash);
        }
        let color = '';
        for (let i = 0; i < 3; i++) {
            let value = (hash >> (i * 8)) & 0xFF;
            color += ('00' + value.toString(16)).substr(-2);
        }
        return color;
    }

    // For dropdown functionality
    document.addEventListener('click', function(event) {
        if (!event.target.closest('.dropdown')) {
            document.querySelectorAll('.dropdown[open]').forEach(function(dropdown) {
                dropdown.removeAttribute('open');
            });
        }
    });

    function callApi() {
        $.ajax({
            url: 'https://localhost:7034/api/Admin/GetSystemAccountById/1',
            type: 'GET',
            success: function (data) {
                console.log("Success:", data);
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }
</script>