@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<NguyenHoangLongMVC.Application.DTOs.NewsArticleDto>

@{
    ViewData["Title"] = "News Article";
}

<h2>News Article</h2>

<p>
    This is the News Article page.
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy!.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy!.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                @* <td> *@
                @*     <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                @*     <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                @*     <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                @* </td> *@
            </tr>
        }
    </tbody>
